<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<footer>
  <div class="container" id="footer">
    <div class="row">
      <div class="col-md-4">
        
      </div>
      <div class="col-md" id="contact">
        <h2>Contact Us</h2>
        <ul style="list-style: none;">
          <li>(845)-621-2251</li>
          <li><a id="email" href="mailto:mariosrestaurant@aol.com">mariosrestaurant@aol.com</a></li>
          <a href="https://www.facebook.com/Mariosofmahopac/" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
