<div class="container">
  <h1>Our Menu</h1>
    <div class="row">
      <div class="col">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
          .menu {
            margin-bottom: 15px;
            max-width: 1200px;
              margin: 0 auto;
              font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          }
          .menu_restName {
            text-align: center;
              font-size: 70px;
              margin-top: 0;
          }
          .menu_title {
            text-align: center;
          }
          .menu_section {
            margin-bottom: 30px;
          }
          .menu_section h3 {
            font-style: italic;
            text-align: center;
            font-weight: bold;
          }
          .menu_item {
            margin: 0 0px;
            position: relative;
          }
          .menu_item h4 {
            margin-bottom: 0px;
          }
          .price {
            display: block;
            float: right;
            position: absolute;
            bottom: 0px;
            right: 0;
            font-weight: bold;
            font-size: 20px;
          }
          .description {
            margin-top: 5px;
            font-style: italic;
            display: inline-block;
            max-width: 50%;
            font-weight: 800;
          }
          hr {
            border: none;
              border-top: 1px dotted black;
              margin-top: -20px;
          }
          footer:not(.app-footer) {
            text-align: center;
              font-size: 11px;
            font-style: italic;
          }
          @media (max-width: 575px) {
            .menu_title {
              text-align: center;
              font-size: 30px;
            }
            .menu_section h3 {
              text-align: center;
                font-size: 30px;
            }
            .menu_item {
              text-align: center;
            }
            .price {
              float: none;
              position: static;
              margin-top: 15px;
            }
            hr {
              display: none;
            }
          }
        </style>
        <section class="menu"><div class="menu_section menu_section_15148278049"><h3>Appetizers</h3>
            <div class="menu_item menu_item_15148279480">
              <h4 class="name"><span class="badge badge-pill badge-success">New</span>Wood Fired Garlic Focaccia Bread</h4>
              <span class="price">9.95</span>
              <p class="description">Fresh garlic, pecorino romano, fresh basil</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148281159">
              <h4 class="name">Olive Bruschetta</h4>
              <span class="price">9.95</span>
              <p class="description">Crostini topped with diced olives, fresh mozzarella, balsamic glaze, E.V.O.O.</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148282623">
              <h4 class="name">Portobella Balsamico</h4>
              <span class="price">7.95</span>
              <p class="description">Garlic balsamic sauce topped with melted cheese</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148283842">
              <h4 class="name">Eggplant Rollantini</h4>
              <span class="price">7.95</span>
              <p class="description">Eggplant rolled with ricotta and ham with sauce and melted cheese</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148284165">
              <h4 class="name">Baked Clams</h4>
              <span class="price">7.95</span>
              <p class="description">Little Neck clams topped with oreganata crumbs</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148284547">
              <h4 class="name">Broccoli Rabe</h4>
              <span class="price">7.95</span>
              <p class="description">add 2.00 for sausage</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148284832">
              <h4 class="name">Mussels Marinara or Fra D'avolo</h4>
              <span class="price">8.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148285155">
              <h4 class="name">Friend Ravioli</h4>
              <span class="price">6.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148285328">
              <h4 class="name">Fried Calamari</h4>
              <span class="price">9.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148285449">
              <h4 class="name">Mozzarella Sticks</h4>
              <span class="price">6.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148285613">
              <h4 class="name">Zucchini Sticks</h4>
              <span class="price">6.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148285814">
              <h4 class="name">Friend Wing Dings (8)</h4>
              <span class="price">8.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148286029">
              <h4 class="name">Buffalo Wings (8)</h4>
              <span class="price">8.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148286531"><h3>Fresh Salads</h3>
            <div class="menu_item menu_item_15148286865">
              <h4 class="name">Mixed Green Salad</h4>
              <span class="price">sm 4.95 lg 6.95</span>
              <p class="description">Mixed greens, cucumber, tomato, add 3.00 for chicken</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148287596">
              <h4 class="name">Caesar Salad for Two</h4>
              <span class="price">8.95</span>
              <p class="description">Romaine, homemade croutons, parmesan cheese, add 3.00 for chicken</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148288941">
              <h4 class="name">Antipasto Salad</h4>
              <span class="price">sm 9.95 lg 12.95</span>
              <p class="description">Meats, cheeses, olives, peppers, over a mixed green salad</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148289574">
              <h4 class="name">Cranberry Walnut Gorgonzola for Two</h4>
              <span class="price">11.95</span>
              <p class="description">Romaine, mesclun, E.V.O.O., balsamic glaze</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148290556">
              <h4 class="name"><span class="badge badge-pill badge-success">New</span>Arugula Salad</h4>
              <span class="price">9.95</span>
              <p class="description">Baby arugula, sweet red onion, grape tomatoes, shaved romano, lemon vinaigrette</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148291314">
              <h4 class="name"><span class="badge badge-pill badge-success">New</span>Rustica</h4>
              <span class="price">10.95</span>
              <p class="description">Mesclun, romaine, fresh mozzarella, prosciutto di parma, kalamata olives, balsamic vinaigrette</p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148294317"><h3>Kid's Menu</h3>
            <div class="menu_item menu_item_15148294410">
              <h4 class="name">Cheese Ravioli</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148294860">
              <h4 class="name">Chicken Tenders &amp; Fries</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148295549">
              <h4 class="name">Chicken Parmigiana</h4>
              <span class="price">9.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148295743">
              <h4 class="name">Spaghetti or Penne with Meatball</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148296031"><h2 style="text-align:center; font-style:italic; font-weight: bold;"><span class="badge badge-pill badge-success">New</span>Wood Fired Pizza Napolitana (12 inch)</h2></div><div class="menu_section menu_section_15148296507"><h3>Red Pies</h3>
            <div class="menu_item menu_item_15148296966">
              <h4 class="name">Classic Margherita</h4>
              <span class="price">10.95</span>
              <p class="description">Fresh mozzarella, tomato, basil</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148297234">
              <h4 class="name">La Marinara</h4>
              <span class="price">9.95</span>
              <p class="description">(No cheese) tomato, basil, fresh garlic, oregano</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148297688">
              <h4 class="name">Rosa Grande Pepperoni</h4>
              <span class="price">11.95</span>
              <p class="description">Fresh mozzarella, tomato, basil, thick-sliced pepperoni</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148298268">
              <h4 class="name">Broccoli Rabe &amp; Sausage</h4>
              <span class="price">12.95</span>
              <p class="description">Fresh mozzarella, tomato, basil, broccoli rabe, crumbled sausage</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148301812">
              <h4 class="name">Arugula &amp; Prosciutto</h4>
              <span class="price">12.95</span>
              <p class="description">Fresh mozzarella, tomato, basil, arugula, prosciutto di parma</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148302396">
              <h4 class="name">Carne Rosso</h4>
              <span class="price">14.95</span>
              <p class="description">Fresh mozzarella, tomato, basil, pepperoni, crumble sausage, bacon</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148303110">
              <h4 class="name">La Primavera</h4>
              <span class="price">12.95</span>
              <p class="description">Fresh mozzarella, tomato, basil, roasted eggplant, artichoke, garlic</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148303673">
              <h4 class="name">Diavola</h4>
              <span class="price">11.95</span>
              <p class="description">Fresh mozzarella, tomato, basil, spicy soprisatta</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148304035">
              <h4 class="name">Bacon e Cipolla</h4>
              <span class="price">13.95</span>
              <p class="description">Fresh mozzarella, tomato, basil, bacon, red onion, grape tomatoes, garlic, oregano</p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148304610"><h3>White Pies</h3>
            <div class="menu_item menu_item_15148304681">
              <h4 class="name">Quattro Formaggi</h4>
              <span class="price">13.95</span>
              <p class="description">Fresh mozzarella, ricotta, reggiano, provolone</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148304996">
              <h4 class="name">Del Giorno</h4>
              <span class="price">13.95</span>
              <p class="description">Fresh mozzarella, grape tomatoes, basil, red onion, gorgonzola, balsamic glaze</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148305448">
              <h4 class="name">Parma Cotto</h4>
              <span class="price">13.95</span>
              <p class="description">Fresh mozzarella, ricotta, prosciutto, red onion, kalamata olives</p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148309123"><h5 style="font-style:italic; text-align:center">All pizzas are topped with regianno &amp; E.V.O.O.</h5></div>
          <div class="menu_section menu_section_15148309424"><h5 style="font-style:italic; text-align:center">Our pizzas are made with 00 flour imported from Italy, San Marzano certified D.O.P. tomatoes with fresh mozzarella and baked in our 900 degree 100% wood fired oven.</h5></div>
            <div class="menu_section menu_section_15148310707"><h3>Pasta</h3>
            <div class="menu_item menu_item_15148311634">
              <h4 class="name">Spaghetti, Linguine, or Penne with Meatball or Sausage</h4>
              <span class="price">12.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148312491">
              <h4 class="name">Spaghetti, Linguine, or Penne Bolognese</h4>
              <span class="price">12.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148312650">
              <h4 class="name">Linguine Broccoli Rabe</h4>
              <span class="price">13.95</span>
              <p class="description">add 2.00 for sausage</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148312965">
              <h4 class="name">Bake Stuffed Shells</h4>
              <span class="price">11.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148313207">
              <h4 class="name">Stuffed Rigatoni alla Vodka</h4>
              <span class="price">11.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148313378">
              <h4 class="name">Cheese Manicotti</h4>
              <span class="price">11.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148313528">
              <h4 class="name">Cheese Ravioli Parmigiana</h4>
              <span class="price">10.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148313812">
              <h4 class="name">Lasagna</h4>
              <span class="price">11.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148313971">
              <h4 class="name">Penne alla Vodka</h4>
              <span class="price">10.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148314130">
              <h4 class="name">Fettuccine Alfredo</h4>
              <span class="price">12.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148314284">
              <h4 class="name">Eggplant Lasagna Rollatini</h4>
              <span class="price">14.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148314463">
              <h4 class="name">Linguine al Pesto with Grilled Chicken</h4>
              <span class="price">13.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148314681">
              <h4 class="name">Cavatelli Campanoila</h4>
              <span class="price">12.95</span>
              <p class="description">Sausage, spinach, mushrooms, tomato sauce</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148315037">
              <h4 class="name">Tortellini del la Nonna</h4>
              <span class="price">12.95</span>
              <p class="description">Bacon, onion, peas, pink sauce</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148315295">
              <h4 class="name">Gnocchi Rustico</h4>
              <span class="price">12.95</span>
              <p class="description">Roasted garlic, pink sauce</p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148316664"><h3>Fresh Seafood</h3>
            <div class="menu_item menu_item_15148317088">
              <h4 class="name">Linguine Red or White Clam Sauce</h4>
              <span class="price">14.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148317762">
              <h4 class="name">Shrimp Marinara or Fra D'avolo</h4>
              <span class="price">18.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148318031">
              <h4 class="name">Shrimp Scampi</h4>
              <span class="price">18.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148318227">
              <h4 class="name">Calamari Marinara or Fra D'avolo</h4>
              <span class="price">15.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148318640">
              <h4 class="name">Mussels Marinara or Fra D'avolo</h4>
              <span class="price">14.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148319109">
              <h4 class="name">Filet of Sole Florentine over Spinach</h4>
              <span class="price">15.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148319337">
              <h4 class="name">Stuffed Sole with Scallops &amp; Crabmeat</h4>
              <span class="price">16.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148319534">
              <h4 class="name">Bay Scallops Marinara or Fra D'avolo</h4>
              <span class="price">17.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148319791">
              <h4 class="name">Mario's Seafood Medly</h4>
              <span class="price">29.95</span>
              <p class="description">Shrimp, clams, mussels, scallops, calamari</p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148320406"><h3>Entrées</h3>
            <div class="menu_item menu_item_15148320884">
              <h4 class="name">Eggplant Parmigiana</h4>
              <span class="price">13.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148321014">
              <h4 class="name">Chicken Parmigiana</h4>
              <span class="price">14.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148321160">
              <h4 class="name">Chicken Francese</h4>
              <span class="price">14.95</span>
              <p class="description">Lemon, butter, white wine</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148321424">
              <h4 class="name">Chicken Marsala</h4>
              <span class="price">14.95</span>
              <p class="description">Mushrooms marsala, brown sauce</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148321847">
              <h4 class="name">Chicken Portobella</h4>
              <span class="price">14.95</span>
              <p class="description">Garlic balsamic sauce, melted cheese</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148322594">
              <h4 class="name">Chicken Sorrentino</h4>
              <span class="price">14.95</span>
              <p class="description">Eggplant, prosciutto, melted cheese</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148322913">
              <h4 class="name">Chicken Cardinale</h4>
              <span class="price">14.95</span>
              <p class="description">Roasted peppers, prosciutto, melted cheese</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148323238">
              <h4 class="name">Chicken Contadina</h4>
              <span class="price">14.95</span>
              <p class="description">Sausage, peppers, mushrooms, red sauce</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148323620">
              <h4 class="name">Grilled Cajun Chicken</h4>
              <span class="price">14.95</span>
              <p class="description">Cajun spice, lemon, white wine sauce</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148323992">
              <h4 class="name">Boneless Pork Chops Vinegar Peppers</h4>
              <span class="price">16.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148324363"><h3>Side Orders</h3>
            <div class="menu_item menu_item_15148324410">
              <h4 class="name">Meatballs (3)</h4>
              <span class="price">4.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148324513">
              <h4 class="name">Sausage (3)</h4>
              <span class="price">4.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148324602">
              <h4 class="name">French Fries</h4>
              <span class="price">4.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148324673">
              <h4 class="name">Pasta with Tomato Sauce or Garlic &amp; Oil</h4>
              <span class="price">4.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148324863">
              <h4 class="name">Broccoli or Spinach</h4>
              <span class="price">4.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148324993">
              <h4 class="name">Side of Tomato Sauce</h4>
              <span class="price">1.50</span>
              <p class="description"> </p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148325118"><h3>Dessert</h3>
            <div class="menu_item menu_item_15148325175">
              <h4 class="name">Fresh Stuffed Canoli</h4>
              <span class="price">4.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148325331">
              <h4 class="name">Chocolate Hardshell Tartuffo</h4>
              <span class="price">6.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148325462">
              <h4 class="name">Chocolate Molten Lava Alla Mode</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148325734"><h5 style="text-align:center; font-style:italic;">Ask about our other special desserts</h5></div><div class="menu_section menu_section_15148326021"><h3>Wedges</h3>
            <div class="menu_item menu_item_15148326069">
              <h4 class="name">Chicken Parm</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148326193">
              <h4 class="name">Eggplant Parm</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148326375">
              <h4 class="name">Meatball Parm</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148326489">
              <h4 class="name">Chicken Lettuce Tomato Mayo</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148326656">
              <h4 class="name">Italian Combo</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148326750">
              <h4 class="name">Sausage &amp; Peppers</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148326997"><h3>Lunch Menu</h3></div><div class="menu_section menu_section_15148327155"><h3>Served from 11am-3pm. Includes salad and drink</h3>
            <div class="menu_item menu_item_15148327437">
              <h4 class="name">Spaghetti or Penne with Meatballs or Broccoli Garlic/Oil</h4>
              <span class="price">7.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148327781">
              <h4 class="name">Penne alla Vodka</h4>
              <span class="price">8.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148327913">
              <h4 class="name">Cheese Ravioli Parmigiana</h4>
              <span class="price">8.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148328210">
              <h4 class="name">Chicken Parmigiana</h4>
              <span class="price">12.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148328508">
              <h4 class="name">Eggplant Parmigiana</h4>
              <span class="price">9.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148328693">
              <h4 class="name">Mussels Marinara or Fra D'avolo</h4>
              <span class="price">11.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148328865">
              <h4 class="name">Linguine Red or White Clam Sauce</h4>
              <span class="price">11.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148329117">
              <h4 class="name">Calamari Marinara or Fra D'avolo</h4>
              <span class="price">11.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148329335">
              <h4 class="name">Broccoli Rabe over Linguine</h4>
              <span class="price">11.95</span>
              <p class="description">add 2.00 for sausage</p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148329575">
              <h4 class="name">The Raguso Special</h4>
              <span class="price">10.95</span>
              <p class="description">Grilled Chicken in a fra d'avolo sauce over linguine</p>
              <hr>
            </div>
          </div><div class="menu_section menu_section_15148330136"><h3>Beverages</h3>
            <div class="menu_item menu_item_15148330195">
              <h4 class="name">Fountain Sodas</h4>
              <span class="price">1.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148330335">
              <h4 class="name">Pitcher of Soda</h4>
              <span class="price">6.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148330498">
              <h4 class="name">Coffee or Tea</h4>
              <span class="price">1.75</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148330635">
              <h4 class="name">Cappuccino</h4>
              <span class="price">3.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148330788">
              <h4 class="name">Espresso</h4>
              <span class="price">2.50</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148330872">
              <h4 class="name">Glass of Wine</h4>
              <span class="price">5.50</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148331000">
              <h4 class="name">Half Carafe of Wine</h4>
              <span class="price">11.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148331197">
              <h4 class="name">Full Carafe of Wine</h4>
              <span class="price">19.95</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148331318">
              <h4 class="name">Domestic Bottled Beer</h4>
              <span class="price">4.75</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148331600">
              <h4 class="name">Imported Bottled Beer</h4>
              <span class="price">5.25</span>
              <p class="description"> </p>
              <hr>
            </div>
          
            <div class="menu_item menu_item_15148331769">
              <h4 class="name">Manhattan Special Coffee Soda</h4>
              <span class="price">3.00</span>
              <p class="description"> </p>
              <hr>
            </div>
          </div>
        </section>
      </div>
    </div>
</div>